<app-user></app-user> <!-- //user模块下面的根组件，需要暴露才能在app根组件挂载 user.module.ts exports:[UserComponent,OrderComponent] //暴露组件，让其他组件使用-->
<app-order></app-order> <!-- //user模块下面的子组件，需要暴露才能在app根组件挂载user.module.ts exports:[UserComponent,OrderComponent] //暴露组件，让其他组件使用 -->
<header style="background:#000;height:45px;color:#fff">
  <a [routerLink]="['/users']">用户模块</a>&nbsp;&nbsp;
  <a [routerLink]="['/acticle']">文章模块</a>&nbsp;&nbsp;
  <a [routerLink]="['/product']">商品模块</a>
</header>

<router-outlet></router-outlet>
